/* CSS Document */
body {
	background-color: #CCCCCC;
}
nav {
	margin-left: 155px;
	margin-top: -56px;
}
nav img {
	margin-left: -5px;
}
nav img:hover {
	opacity: .9;
}
#leftCol {
	float: left;
	width: 150px;
	background-color: #003663;
	background-image: url('/assets/bg/navRepeater.png');
	background-position:top left;
	background-repeat:repeat-y;
	color: #FFFFFF;
	font-size: 12px;
}
.contact_title {
	font-size: 14px;
	font-style: italic;
	margin-left: 5px;
}
#middleCol {
	float: left;
	width: 400px;
	margin-top: -10px;
	background-color: #FFFFFF;
}
#middleCol h1 {
	margin:10px;
	padding:0;
	color:#003663;
	font-size:x-large;
	border-bottom:1px inset #ccc;
}
#middleCol h2 {
	margin:20px 10px 0 10px; padding:0;
	color:#003663;
	font-size:large;	
	/*border-top:1px inset #ccc;*/
	line-height:1.5em;
}
#rightCol {
	float: left;
	width: 210px;
	margin-top: -10px;
	background-color: #FFFFFF;
}
footer {
	font-size: x-small;
	clear: both;
}
/* LOGIN */
.login {
	font-size: 80%;
	margin-left: 175px;
	margin-top: -5px;
}
.login span {
	font-size: 65%;
	padding-left: 15px;
}
/* Showcase */

