/* CSS Document */
body {
	background-color: #CCCCCC;
	margin: 0;
}
#pageContent {
	background: #FFFFFF url('/assets/background.png') repeat-y;
	margin: auto;
	width:760px;
	position:relative;
}
nav#main {
	position:absolute;
	left: 149px;
	top: 81px;
}
nav#main img {
	margin-right:-5px;
}
nav#main img:hover {
	opacity: .9;
}
header.main {
	width:760px;
	height:131px;
}
#leftCol {
	float: left;
	width: 150px;
	color: #FFFFFF;
	min-height: 500px;
	font-size: 12px;
/*	min-height: 500px;
	max-height: none;
	height:100%;
	background-color: #003663;
	background-image: url('/assets/bg/navRepeater.png');
	background-position:top left;
	background-repeat:repeat-y;*/
	
}
#leftCol div {
	font-family:verdana,arial,sans-serif;
	padding-left:5px;
	width:135px;
	margin-bottom:1em;
	font-size:.9em;
}
#leftCol div p{
	margin:0;
}

#subContent {
	background: #FFFFFF;
}
.contact_title {
	font-size:.9em;
	font-weight: bold;
}
#middleCol {
	float: left;
	width: 370px;
	min-height: 500px;
	max-height: none;

}
#middleCol.wide {
	width:600px;
}
h1 {
	margin:10px;
	padding:0;
	color:#003663;
	font-size: large;
}
#middleCol ul li a {
	color: #003663;
	color:blue;
	text-decoration: none;
	font-size: 90%;
}
#middleCol ul li a:hover {
	color: #003663;
	color:red;
	text-decoration: underline;
	font-size: 90%;
}
.pageHeader {
	margin:10px;
	padding:0;
	color:#003663;
	font-size: x-large;
	font-style: bold;
	border-bottom:1px inset #ccc;
}
#rightCol {
	float: left;
	width: 240px;
	min-height: 500px;
	max-height: none;
}
.foot {
	color: #B2B2B2;
	color: gray;
	font-size: x-small;
	text-decoration: none;
	padding-left: 10px;
}
.foot:hover {
	color: red;
	font-size: x-small;
	text-decoration: underline;
}
footer {
	font-size: x-small;
	clear: both;
	text-align:center;
	margin-top:10px;
}
/* LOGIN */
.login {
	font-size: 80%;
	margin-left: 175px;
	margin-top: -5px;
}
.login span {
	font-size: 65%;
	padding-left: 15px;
}
/**************************************************************
...contentBox1...START
**************************************************************/
.contentBox1_holder {
	margin:0; padding:0;
	background-image:url('/assets/boxParts/contentBox1_body.png');
	background-position:top center;
	background-repeat:repeat-y;
	}
		.contentBox1_head {
			margin:0; padding:0;
			height:30px;
			background-image:url('/assets/boxParts/contentBox1_head.png');
			background-position:top center;
			background-repeat:no-repeat;
		}
			.contentBox1_title {
				margin:0 0 0 15px; padding:0;
				color:#585841;
				font-size:12px;
				font-family:Arial, Helvetica, sans-serif;
				font-weight:bolder;
				line-height:2em;
				letter-spacing:1px;
			}
		.contentBox1_body {
			margin:0 25px 0 15px;
			padding:0;
			border:1px solid white;
			vertical-align: top;
		}
			.contentBox1_body p {
				font-size:medium;
				margin: 5px 0 0 0;
				color:#333333;
			}
			.contentBox1_body a.title {
				color:#333333;
			}
			
			.contentBox1_body a.title:hover {
				color:#FF0000;
				text-decoration:underline;
			}
			
		.contentBox1_foot {
			margin:0px;
			padding:0px;
			height:30px;
			background-image:url('/assets/boxParts/contentBox1_foot.png');
			background-position:bottom center;
			background-repeat:no-repeat;
		}
/**************************************************************
...contentBox1...END
**************************************************************/
/**/
/**************************************************************
...contentBox2...START
**************************************************************/
.contentBox2_holder {
	margin:0px; padding:0;
	background-image:url('/assets/boxParts/contentBox2_body.png');
	background-position:top center;
	background-repeat:repeat-y;
	}
		.contentBox2_head {
			margin:0; padding:0;
			height:5px;
			background-image:url('/assets/boxParts/contentBox2_head.png');
			background-position:top center;
			background-repeat:no-repeat;
		}
		.contentBox2_body {
			margin:0px 15px 0px 15px;
			padding:0px;
			border:1px solid white;
			vertical-align: top;
		}
			.contentBox2_body p {
				font-size:14px;
				margin: 5px 0 0 0;
				color:#333333;
			}
		.contentBox2_foot {
			margin:0; padding:0;
			height:5px;
			background-image:url('/assets/boxParts/contentBox2_foot.png');
			background-position:top center;
			background-repeat:no-repeat;
		}
/**************************************************************
...contentBox2...END
**************************************************************/
/*Events*/
#eventListing p {
	font-size: x-small;
	padding-left: 20px;
}
#eventListing span {
	color: #63045d;
}
.eventItem {
	font-size: 90%;
	padding-left: 20px;
}
.eventItem a {
	color: #003663;
	text-decoration: none;
}
.eventBlurb {
	color: #999999;
	font-style: italic;
	font-size: 70%;
	padding-left: 20px;
}
/*Resources*/
#middleCol h2 {
	font-size: small;
	color: #63045d;
}
/*FAQS*/
#faqs {
}
#faqs li {
}
#faqs a {
	color: #003663;
	text-decoration: none;
	font-size: 90%;
}
#faqs a:hover {
	color: #003663;
	text-decoration: underline;
	font-size: 90%;
}

a.admin {
	background-color:#EEEEEE;
	color:black;
	font-weight:bold;
	border:1px outset;
	padding:2px;
	font-size:xx-small;
	text-decoration:none;
	}
a.admin:hover {
	background-color:#FFF;
	border:1px inset;
	text-decoration:none;
	}
