<div id="leftCol">
</div>
<div>
<p>
  <b>Category:</b>
  <%= @rescat.category %>
</p>

<p>
  <b>Blurb:</b>
  <%= @rescat.blurb %>
</p>


<%= link_to 'Edit', edit_rescat_path(@rescat), :class => "admin" %> 
<%= link_to 'Back', rescats_path, :class => "admin" %>
</div>