	<div>
	  <span class="contact_title">Branch County Courthouse</span><br />
	  <p>31 Division St. <br />
		 Coldwater, MI 49036</p>
	</div>
	<div>
	  <span class="contact_title">Hours</span><br />
	  <p>Monday - Friday <br />
		 8:00am - 5:00pm</p>
	</div>
	<div>
	  <span class="contact_title">Phone</span><br />
	  <p>517.279.4300</p>
	</div>
	<div id="navHolder">
	</div><!-- end navHolder -->
